# General
create_table_of_contents_if_not_exists	1
sort_bookmarks_by_location 1
# shared_database_path	/home/fabian/nextcloud/apps/sioyek

# Font
font_size					15
status_bar_font_size		15

# Colors
custom_background_color		0.9 0.87 0.78
custom_text_color			0.36 0.26 0.19
dark_mode_contrast			0.8

linear_filter 1

# startup_commands			toggle_custom_color;
# startup_commands			toggle_mouse_drag_mode;
