screen_down					<C-d>
screen_up					<C-u>

prev_state					<C-o>
next_state					<C-i>

next_page					<C-n>
previous_page				<C-p>

open_prev_doc				<C-6>

fit_to_page_height			<C-0>
fit_to_page_width			<C-1>
fit_to_page_width_smart		<C-2>


# visual
toggle_statusbar			m
toggle_custom_color			c
toggle_dark_mode			<S-c>

open_document_embedded_from_current_path	o

# navigation
goto_top_of_page			<S-h>
goto_bottom_of_page			<S-l>
