#!/bin/sh

# startup
hsetroot -solid "#252A34" & # solid background
xbindkeys & # playerctl with headphones ~/.xbindkeysrc
clipmenud & # clipboard manager daemon

# script
$HOME/.dotfiles/scripts/utils/bat-indicator & # show battery level
$HOME/.dotfiles/scripts/watchers/autovdirsyncer & # sync calendar/contacts on write
$HOME/.dotfiles/scripts/watchers/autombsyncer & # sync mail on write
